@import url("https://fonts.googleapis.com/css2&family=Source+Serif+Pro:wght@400;700&display=swap");

html,
body {
  font-size: 18px;
  background-color: #e5e5e8;
  color: #242424;
  font-family: "Source Serif Variable", Georgia, "Times New Roman", Times, serif;
}
::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Variable", Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
}

* {
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  box-sizing: border-box;
}

::selection {
  color: #cacaca;
  background: #5d4c3c;
}

a {
  color: #5d4c3c;
  transition: all 0.25s;
}

a:hover,
a:focus {
  color: #7d6c5c;
}
