@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  color: #e1f2e4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
