.page {
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  top: 0;
  left: 5vw;
  user-select: none;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
}

.section {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
}

.meRight {
  display: block;
  position: absolute;
  width: 480px;
  mix-blend-mode: luminosity;
  opacity: 0.5;
  height: auto;
  right: 0;
  bottom: 0;
}

.meLeft {
  display: block;
  position: absolute;
  width: 524px;
  mix-blend-mode: luminosity;
  opacity: 0.5;
  height: auto;
  left: 0;
  bottom: 0;
}

.content {
  display: grid;
  position: absolute;
  left: 0;
  top: 0;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  h2 {
    font-size: 48px;
    font-weight: 400;
  }
  h1 {
    font-size: 90px;
    font-weight: 400;
  }
  p {
    font-size: 24px;
    max-width: 50ch;
    line-height: 1.25;
    margin-top: 1ex;
  }
}

.indicator {
  display: flex;
  flex-flow: column nowrap;
  top: 50%;
  left: 30%;
  position: absolute;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.line {
  height: 40vh;
  width: 2px;
  display: inline-block;
  position: relative;
  top: -6px;
  transform: translateX(5px);
}
