.container {
  padding: 5vmin;
}

/** SPAN Classes **/

.subtle {
  opacity: 0.65;
}
.strike {
  opacity: 0.65;
  text-decoration: line-through;
}

.title {
  padding: 2.5vmin 5vmin;
  margin-left: 5vmin;
  display: inline-block;
  transition: all 0.5s ease 0s;
}


@media only screen and (max-width: 900px) {
  .title {
    margin-right: 5vmin;
  }
}

.sectionWrapper {
  display: grid;
  padding: 5vmin;
  grid-template-columns: 1fr 1fr;
  column-gap: 5vmin;
  row-gap: 5vmax;
}
@media only screen and (max-width: 900px) {
  .sectionWrapper {
    grid-template-columns: 1fr;
  }
}
.sectionHr {
  content: '';
  border-bottom: 4px solid var(--shade);
  width: 80vw;
  display: block;
  margin-left: 5vmin;
  margin-bottom: 5vmin;
}

.column {
  display: grid;
  align-self: start;
  justify-self: start;
  padding: 5vmin;
  transition: all .5s ease 0s;
}
.column ul li {
  transition: all .5s ease 0s;
}
.column ul li:hover {
  color: white;
}
.column ul li a:hover {
  cursor: help;
}
.column ul {
  padding-inline-start: 5vw;
}
.column ul ul {
  padding-inline-start: 5vw;
}
@media only screen and (max-width: 900px) {
  .column {
    align-self: start;
    justify-self: start;
    padding: 5vmin 0vmin 10vmin 0vmin;
    background-color: inherit;
  }
}
@media only screen and (max-width: 600px) {
  .column {
    align-self: start;
    justify-self: start;
    padding: 5vmin 0vmin 10vmin 0vmin;
    background-color: inherit;
  }
}

section[title="resume"].sectionWrapper {
  grid-template-columns: 1fr;
  justify-items: stretch;
}

.ulGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline-start: 0vmin !important;
}
.ulGrid li {
  display: block;
  line-height: 1.5;
  font-size: 1.25rem;
}
.flatUl {
  padding-inline-start: 2vmin !important;
  padding-left: 1vmin;
  border-left: 2px solid var(--text);
}
.flatUl li {
  font-size: 1rem;
}

.resumeBlock {
  padding-right: 4vmax;
  margin-bottom: 2.5vmin;
}
.resumeBlock h3 {
  font-size: 1.5rem;
}
.resumeBlock h4 {
  font-size: 1.25rem;
  opacity: 0.75;
  margin-bottom: 1.5rem;
}

.ulGrid p {
  margin-right: 4vmax;
  margin-bottom: 2.5vmin;
}

.resumeHr {
  content: '';
  border-bottom: 4px solid var(--text);
  width: 80%;
  display: block;
  margin-top: 2.5vmin;
  margin-bottom: 2.5vmin;
}
@media only screen and (max-width: 600px) {
  .ulGrid {
    grid-template-columns: 1fr !important;
  }
}

article[title="contactLinks"].column {
  align-self: stretch;
  justify-self: stretch;
}
