.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  overflow-x: hidden;
}

.header h1 {
  line-height: 1;
  font-size: 2rem;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding-bottom: 0.5rem;
  animation: float 4s linear infinite;
}

.header h1:hover {
  transform: translateY(-0.5rem);
}

.header div h2 {
  font-size: 1.25rem;
  animation: marquee 16s linear infinite;
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .header div h2 {
    width: 150vw;
  }
}
.header a:hover {
  color: #d19f1f;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-width: 80vw;
}

.wide {
  letter-spacing: 0.5rem;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translayY(0);
  }
}
